
body {
    background-color: rgb(169,169,169);
}

h1 {
    color: rgb(0, 126, 220)
}

h2{
  color: black;
}

h4{
  color: white;
}

p {
	color: white;
    font-family: "arial";
}

#hello {
	font-weight:bold;
	font-size: 30px;
}

.bye {
	font-size: 26px
}
#bam {
	align: center;
}