body {
    background-color: rgb(169,169,169);
}
.center p {
    margin: 0;
    position: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
Try it Yourself »

p {
    text-indent: 50px;
}
h1 {
    color: rgb(0, 126, 220)
}
h2{
  color: black;
}
h4{
  color: white;
}
p {
    font-family: "arial";
}

p {
    color: white;
}
a {
    text-decoration: none;
}
