
div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

h1{
	color: Black;
	font-family: 'Pangolin', cursive;
	font-family: 'Roboto', sans-serif;
	font-family: 'Inconsolata', monospace;
	font-weight: bold;
	margin-top: 1em;
    margin-bottom: 0px;
    margin-right: 1.5em;
    margin-left: 80px;
}

h2{ 
	color: #DAA520;
	font-family: 'Pangolin', cursive;
	font-family: 'Roboto', sans-serif;
	font-family: 'Inconsolata', monospace;
	font-weight: normal;
	margin-top: 1em;
    margin-bottom: 0px;
    margin-right: 1.5em;
    margin-left: 80px;
 }

p {
	text-align: center;
	font-family: 'Pangolin', cursive;
	font-family: 'Roboto', sans-serif;
	font-family: 'Inconsolata', monospace;
	font-weight: normal;
    padding-top: 0px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    margin-top: 1em;
    margin-bottom: 0px;
    margin-right: 1.5em;
    margin-left: 80px;
}

#first {
    text-align: center;
    display: block;
    margin: 0 auto;
    color: #99001C;
    text-decoration: none;
    font-family: 'Pangolin', cursive;
	font-family: 'Roboto', sans-serif;
	font-family: 'Inconsolata', monospace;
	margin-top: 1em;
    margin-bottom: 0px;
    margin-right: 1.5em;
    margin-left: 80px;
}

a#first: hover {
    text-decoration: underline;
    color: #DAA520;
}

ol {
	text-align: center;
	font-family: 'Pangolin', cursive;
	font-family: 'Roboto', sans-serif;
	font-family: 'Inconsolata', monospace;
    padding-top: 0px;
    padding-right: 70px;
    padding-bottom: 0px;
    padding-left: 1em;
    margin-top: 1em;
    margin-bottom: 0px;
    margin-right: 1.5em;
    margin-left: 80px;
}

footer{ text-align: center;
	font-family: 'Pangolin', cursive;
	font-family: 'Roboto', sans-serif;
	font-family: 'Inconsolata', monospace;
	font-weight: normal;
    padding-top: 0px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    margin-top: 1m;
    margin-bottom: 0px;
    margin-right: 1.5em;
    margin-left: 80px; }