
body {
	margin: auto;
	background-color: #ffffff;
}

header {
	font-family: helvetica;
    background-color: #b8ced1;
    border: 0px;
    padding: 20px;
    text-align: center;
}

p {
	font-weight: 300;
	font-family: helvetica;
}

nav {
	background-color: #7a9ea3;
	border: 0px;
}

ul {
	text-align: center;
	padding: 10px;
}

li{
	color: black;
	font-family: helvetica;
	display: inline;
}

a {
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	padding: 10px;
	width: 200px;
}

a:hover { /* pseudo-class */
	background-color: #ffffff;
}

a:active {
	color: black;
}

img {
	display: block;
	width: 30%;
	margin: auto;
	padding: 10px;
	background-color: #325256;
	border: 0px;
	/*float: left;*/
}

nav {
	color:black;
	padding: 10px;
}

aside {
	font-family: helvetica;
	background-color: #FFC675;
	border: 0px;
}

article {
	font-family: helvetica;
	background-color: #E89C6C;
	border: 0px;
}

footer {
	color: white;
	background-color: #000000;
	border: 0px;
	text-align: center;
	padding: 10px;
}

#wrapper {
	width: 960px;
	margin: 10px auto;
}

#two_columns {
	background-color: #ffffff;
	border: 0px;
	padding: 20px;
}

#left {
	color: white;
	background-color: #0c2a2d;
    border: 0px;
    padding: 40px;
    padding-bottom: 70px;
    margin: 10px; /*try changing the values of the margin*/
    float: left;
    width: 38%; /* left element’s width will be 3% of the available space */
}

#right {
	color: white;
    background-color: #0c2a2d;
    border: 0px;
    padding: 40px;

    margin: 10px;
    float: right;
    width: 38%; /*right element’s width will be 60% of the available space*/

}

.clearfix:after {  /*once you float elements that are nested inside a parent element it no longer add to the height of that parent element, you should use clearfix to get the two columns*/
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
#mid { 
	color: white;
    background-color: #0c2a2d;
    border: 0px;
    padding: 0px;
    margin: 0px;
    float: left;
    width: 100%;
 }
 # { 
 color:black;
  }